*{
    padding: 0;
    margin: 0;
    /* background-image: url(image/bg1.jpeg); */
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-size:25px;
    height: 80px;
}
header i{
    font-size: 40px;
}
header ul li{
    float: right;
    text-decoration: none;
    list-style: none;
    padding: 20px;
    margin-left: 30px;
    /* display: inline-block; */
}
header a{
    color:white;
    text-decoration: none;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.logo{
    float: left;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 30px;
}
.ti
{
    text-align: center;
    font-size: 30px;
    color: red;
}
.teg{
    text-align: center;
    font-weight: bold;
    color: red;
}

/* Add some padding and margins */
.container {
    padding: 20px;
    margin: 20px auto;
    /* max-width: 400px; */
    width: 450px;
    height: 380px;
    box-shadow: 0px 0px 10px 0px #0000001f;
    background-color:antiquewhite;
}

/* Style the form */
form {
    display: flex;
    flex-direction: column;
}

/* Style the form input fields */
input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style the form submit button */
input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add a hover effect on the submit button */
input[type="submit"]:hover {
    background-color: #0056b3;
}